landsat_lst_aoi_teaching_workflow_direct_qgs_aerial_modes.r
landsat_lst_aoi_teaching_workflow_direct_qgs_rgb_aerial.r
landsat_lst_aoi_teaching_workflow_fixed_paths_qgis_osm.r
landsat_lst_aoi_teaching_workflow_osm_no_loop.r
landsat_lst_aoi_teaching_workflow.r
